* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* ------------------------------ Header ------------------------------ */
.header{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-logo{
    width: 200px;
    object-fit: contain;
    margin-left: 100px;
    margin-top: 15px;
}
.search-container {
    display: flex;
    align-items: center;
    border-radius: 45px;
    border: 1.5px solid #000;
    padding: 20px;
    width: 700px;
    height: 80px;
    background-color: #fff;
    margin: 20px 100px 0px;
}
.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}
.account{
    img{
        width: 50px; 
        height: 50px;
    }
    a{
        text-decoration: none;
        display: flex;
        font-size: 25px;
        margin: 30px;
        align-items: center;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #000;
        width: 200px;
    }
}
.search-icon, .account-icon{
    width: 50px;
    height: 50px;
    object-fit:cover;
    border: 0; 
    background-color: #fff;
}

/* ------------------------------ Menu ------------------------------ */
.menu{
    height: 50px;
    background-color: #edcc26;
    font-size: 25px;
    ul{
        display: flex;
        gap: 40px;
        list-style: none;
        justify-content: center;
    }
    li{
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 10px 25px;
        text-align: center;
    }
    a:hover{
        color: white;
        text-decoration-line: underline;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover{
    color: white;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #edcc26;
    box-shadow: 0px 8px 20px 0px black;
    z-index: 1;
    padding: 10px;
    width: 180px;
    left: -15%;
    top: 95%;
    border-radius: 10px;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 5px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: white;
    text-decoration-line: underline;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu.active{
    color: white; 
    text-decoration-line: underline;
}

/* ------------------------------ Content ------------------------------ */
.content-container{
    width: 1094px;
    margin: 0 auto;
    height: auto;
}

.poster-details-wrapper{
    width: 1094px;
    height: 500px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    img{
        width: 300px;
        border-radius: 20px;
    }
    .details {
        margin: 30px;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
    }
}

.schedule{
    text-align: center;
    h2{
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        padding: 20px;
    }
    button {
        padding: 10px;
        border: none;
        width: 200px;
        border-radius: 10px;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        margin: 5px;
    }
    button:hover{
        transform: translateY(-5px);
    }
}

.booking-form{
    margin-top: 10px;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    h2{
        font-size: 30px;
    }
    .form-group {
        margin-top: 20px;
        font-size: 20px;
    }
    .seat-map {
        width: 1094px;
        display: grid;
        grid-template-columns: repeat(11, minmax(30px, 1fr)); 
        gap: 5px;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto 15px;
    }
    .seat {
        padding: 8px;
        background: #ddd;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
    }
    .seat.selected {
        background: #edcc26;
        color: white;
    }
    nav{
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            width: 100px;
            height: 50px;
            border: none;
            border-radius: 10px;
            font-family: "Cal Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
        }
        button:hover{
            background-color: #edcc26;
            color: white;
        }
    }
    #successSection {
        color: greenyellow;
        font-weight: bold;
        font-size: 30px;
        margin-top: 10px;
        text-align: center;
        button{
            width: 250px;
            height: 80px;
            border: none;
            border-radius: 10px;
            font-family: "Cal Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 25px;
        }
    }
    .hidden {
        display: none;
    }
    #invoicePreview{
        text-align: center;
    }
}

/* ------------------------------ Footer ------------------------------ */
.footer{
    background-color: #edcc26;
    height: 350px;
    margin-top: 50px;
    .info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .info-collum{
        height: 300px;
        width: 380px;
        padding: 30px 30px;
        h1{
            text-align: center;
            font-family: "Bangers", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 50px;
            padding-bottom: 20px;
        }
        p{
            text-align: center;
            font-family: "Cal Sans", sans-serif;
            font-style: normal;
            font-size: 30px;
            a{
                color: black;
                text-decoration: none;
            }
        }
        nav{
            text-align: center;
            img{
                height: 50px;
                width: auto;
                padding: 0px 3px;
            }
        }
        div{
            text-align: center;
            img{
                width: 200px;
                height: auto;
            }
            a{
                color: black;
                text-decoration: none;
                i{
                    font-size: 30px;
                    padding: 20px 10px;
                }
            }
        }
        a:hover{
            color: white;
        }
    }
    .ThongTinSV{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: "Cal Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        padding-top: 10px;
        p{
            padding: 0px 20px;

        }
    }
}





@media (min-width: 768px) {
    .poster-details-wrapper {
      display: flex;
      gap: 20px;
    }
    .poster {
      width: 30%;
    }
    .details {
      width: 70%;
    }
}
@media (min-width: 1024px){
    .header{
        width: 100%;
    }   
    .footer{
        width: 100%;
        overflow: hidden;
        height: auto;
        .info-collum{
            width: 25%;
            padding: 30px 5px;
            h1{
                font-size: 50px;
            }
            p{
                font-size: 30px;
            }
            nav{
                img{
                    height: 35px;
                    width: auto;
                }
            }
            div{
                width: 200px;
                img{
                    width: 180px;
                }
                a{
                    i{
                        padding: 10px 5px;
                    }
                }
            }
        }
        .ThongTinSV{
            font-size: 20px;
        }
    }
}

/* ----- Tablet (768-1024px) ----- */
@media  (max-width: 1024px){
    .header{
        width: 100%;
        .header-logo{
            margin-top: 15px;
            margin-left: 0px;
        }
        .search-container{
            width: 100%;
            margin: 20px 10px;
        }
        .account{
            width: 150px;
            overflow: hidden;
            span{
                display: none;
            }
        }
        
    }
    .menu{
        width: 100%;
        font-size: 20px;
        height: auto;
        ul{
            gap: 20px;
        }
        li{
            width: 100%;
            text-align: center;
            a{
                width: 100%;
                padding: 10px 0px;
            }
        }
        .dropdown-content{
            left: -80%;
            top: 104%;
            font-size: 18px;
        }
    }
    
    .footer{
        width: 100%;
        overflow: hidden;
        height: auto;
        .info-collum{
            width: 25%;
            padding: 30px 5px;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 23px;
            }
            nav{
                img{
                    height: 35px;
                    width: auto;
                }
            }
            div{
                width: 200px;
                img{
                    width: 180px;
                }
                a{
                    i{
                        padding: 10px 5px;
                    }
                }
            }
        }
        .ThongTinSV{
            font-size: 20px;
        }
    }
}
/* ----- Smartphone(480-768px) ----- */
@media (max-width:768px){
    .header{
        width: 100%;
        .header-logo{
            margin-top: 20px;
            margin-left: 0px;
            width: 150px;
        }
        .search-container{
            width: 100%;
            margin: 20px 0px;
        }
    }
    .content-container{
        width: 100%;
        .poster-details-wrapper {
            padding-top: 50px;
            width: 100%;
            display: flex;
            flex-wrap: wrap; 
            height: auto;
            justify-content: center;
        }
        .poster {
            width: 30%;
        }
        .details {
            width: 100%;
        }
    }
    
    .footer{
        width: 100%;
        overflow: hidden;
        height: auto;
        .info-collum{
            width: 50%;
            padding: 30px 5px;
            text-align: center;
            height: auto;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 25px;
             }
            nav{
                img{
                    height: 35px;
                    width: auto;
                }
            }
            div{
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}
/* ----- Mobile (480px) -----*/
@media (max-width:480px){
    .header{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .header-logo{
            margin-top: 20px;
            margin-left: 0px;
            width: 150px;
            order: 1;
        }
        .search-container{
            width: 100%;
            margin: 20px 0px;
            order: 3;
        }
        .account{
            order: 2;
            img{
                margin-left: 20px;
            }
        }
    }
    .menu{
        ul{
            flex-direction: column;
        }
    }
    .content-container{
        .seat-map {
            width: 1094px;
            display: grid;
            grid-template-columns: repeat(11, minmax(18px, 1fr)); 
            justify-content: center;
            max-width: 100%;
            margin: 0 auto 15px;
        }
        .seat {
            background: #ddd;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            font-size: 8px;
        }
    }
    .footer{
        width: 100%;
        overflow: hidden;
        height: auto;
        .info-collum{
            width: 100%;
            padding: 30px 5px;
            text-align: center;
            height: auto;
            h1{
                font-size: 40px;
            }
            p{
                font-size: 25px;
            }
            nav{
                img{
                    height: 35px;
                    width: auto;
                }
            }
            div{
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}